* {
  margin: 0;
  padding: 0;
}

$bg-primary: blue;
$bg-secondary: gray;
$bg-success: green;
$bg-info: cyan;
$bg-warning: yellow;
$bg-danger: red;
$bg-light: white;
$bg-dark: black; 
$bg-salmon: #f3b3a4;
$bg-lightSalmon: #fdcfca;
$bg-pastel: #f3d0cd;
$bg-coral: #f5a462;

$primary: blue;
$secondary: gray;
$success: green;
$info: cyan;
$warning: yellow;
$danger: red;
$light: white;
$dark: black;
$salmon: #f3b3a4;
$lightSalmon: #fdcfca;
$pastel: #f3d0cd;

$d-block: block;
$d-flex: flex;
$d-grid: grid;

$w-25: 25%;
$w-50: 50%;
$w-75: 75%;
$w-100: 100%;
