@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Merriweather&family=PT+Sans&display=swap");

$fontMain: "Josefin Sans", sans-serif;
$fontNav: "Merriweather", serif;
$fontP: "PT Sans", sans-serif;

$fontSizeSm: 1em;
$fontSizeMd: 2em; 
$fontSizeBg: 3em;

$p: 1em;
$py: 2em;
$m: 1em;
